@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* General body styles */
body {
    background-color: #0f0f0fef;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Navbar */
nav {
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    box-shadow: 0px 2px 3px #3ab1ad, -1px -2px 3px #3ab1ad;
    z-index: 1;
}

.left-nav {
    margin: 0;
    padding: 0% 2% 0% 2%;
    width: 15%;
}

.right-nav {
    margin: 0;
    width: 15%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    padding-top: 2%;
    width: 100%;
}

.SignIn {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.SignIn>a {
    color: black;
    background-color: #00FFFF;
    text-decoration: none;
    margin-top: 5%;
    padding: 10%;
    border-radius: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: medium;
}

.SignIn>a:hover {
    color: #00FFFF;
    background-color: #000000;
    border: 2px solid #00FFFF;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.github>img {
    width: 50px;
}


/* Footer */
footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    box-shadow: 0px 2px 3px #3ab1ad, -1px -2px 3px #3ab1ad;
    z-index: 1;
}

h3 {
    margin: 3px;
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    font-size: medium;
    text-align: center;
}

p {
    margin: 1px;
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    font-size: small;
    text-align: center;
}

.Language>p {
    margin: 5px 0px 0px 0px;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    font-weight: 800;
    font-stretch: extra-expanded;
}

.icon {
    margin: 0% 40% 0% 40%;
    display: flex;
    justify-content: space-evenly;
}

.icon>img {
    width: 8%;
    padding: 3px;
}

.footer-middle {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-middle>div {
    width: 20%;
}

.fa {
    width: 100%;
    display: flex !important;
    justify-content: center;
    gap: 5%;
}

.fa>a {
    color: #00FFFF;
    font-size: 120%;
    text-decoration: none;
}

.Support {
    display: flex;
    flex-direction: column;
}

.Support>form>input {
    width: 60%;
    border-radius: 5px;
}

.Support>form>button {
    margin: 0;
    padding: 0;
    font-size: 80%;
    width: 30%;
    background-color: #00FFFF;
    color: black;
    border-radius: 5px;
}

.Support>form>button:hover {
    color: #00FFFF;
    background-color: #000000;
    border: 2px solid #00FFFF;
}

.main-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.information {
    margin-top: 3.5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}




.main-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Main */
.main {
    position: relative;
    display: flex;
    width: 100%;
    height: 1000vh;
}

/* Sidebar 1 */
.sidebar1 {
    background-color: rgb(0, 0, 0);
    width: 18%;
}

.recursion,
.recursion>div>a {
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.recursion>div>a {
    background-color: #000000;
    color: #00FFFF;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    border: 2px solid #00FFFF;
}

.active {
    background-color: #00FFFF !important;
    color: black !important;
}

/* Sidebar 2 */
.sidebar2 {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
}

/* NQueen Section */
h1 {
    font-family: 'Inconsolata', monospace;
    color: #00FFFF;
    text-align: center;
    padding: 0;
    margin: 1px;
}

#input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speed {
    display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    color: #00FFFF;
}

.value,
.start {
    width: 180px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
}

.start {
    background-color: #00FFFF;
    color: #000000;
}

.start:hover {
    background-color: #000000 !important;
    color: #00FFFF !important;
    border: 2px solid #00FFFF;
}

main>section {
    border: solid 1px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 50vw;
    max-height: 55vh;
    overflow: scroll;
    padding: 0 25px 25px 25px;
}

#description-of-the-algorithm {
    text-align: left;
    margin: 25px;
}

#input-section {
    position: relative;
    top: 0;
}

#n-queens-visualizer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 25px;
}

tr {
    border: solid 3px #00FFFF;
}

td {
    border: solid 3px #00FFFF;
    height: 88px;
    width: 88px;
    text-align: center;
}

/* Even rows odd columns */
tr:nth-of-type(2n)>td:nth-of-type(2n+1) {
    background-color: #494949ef;
}

/* Odd rows even columns */
tr:nth-of-type(2n+1)>td:nth-of-type(2n) {
    background-color: #494949ef;
}

td.blue-background {
    background-color: blue !important;
}

td.red-background {
    background-color: #00FFFF !important;
}

/* Paragraphs which do not have a class blue-background and are inside a section of id log-section */
#log-section p:not(p.blue-background) {
    margin-top: 5px;
    margin-bottom: 5px;
}

p.blue-background {
    background-color: rgb(150, 150, 255);
    color: white;
    margin-top: 35px;
    margin-bottom: 5px;
}

p.blue-background.normal-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

p.red-background {
    background-color: rgb(255, 147, 97);
    color: white;
}

p.green-background {
    background-color: rgba(9, 255, 0, 0.8);
    color: white;
}

/* First paragraph inside a section of id log-section */
#log-section p:first-of-type {
    background-color: white;
    position: sticky;
    top: 0;
}

/* Any anchor tag that is a child of the footer tag */
footer>a {
    text-decoration-line: none;
}

/* Any hr tag that is a child of the footer tag */
footer>hr {
    margin: 25px;
}

/* Responsive Styles */
@media (max-width: 1180px) {
    main {
        justify-content: center;
    }

    #log-section {
        margin-top: 25px;
    }
}

button {
    margin-left: 20px;
    border-radius: 10px;
    background-color: transparent;
    border-color: mediumseagreen;
    color: mediumseagreen;
    padding: 8px 16px;
}

button:hover {
    background-color: mediumseagreen;
    color: white;
}

#start-visualization:hover {
    background-color: mediumseagreen;
    color: white;
}

@media (max-width: 1150px) {

    .left-nav {
        width: 60%;
    }

    .right-nav {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        width: 50%;
    }

    .SignIn>a {
        font-size: medium;
    }
}

@media (max-width: 760px) {
    .left-nav {
        width: 60%;
    }

    .right-nav {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        width: 50%;
    }

    .SignIn>a {
        font-size: medium;
    }

    h3 {
        font-size: 16px;
        font-weight: 800;
    }

    p {
        font-size: 13px;
    }

    .fa {
        gap: 5%;
    }

    .fa>a {
        font-size: xx-larger;
    }

    form {
        display: flex;
        flex-direction: row;
    }


    .footer-middle {
        height: 35px;
    }

    .fa>a {
        font-size: large;
    }

    .footer-middle>div {
        width: 30%;

    }

    .footer-middle {

        margin: 0%;
        margin-bottom: 2%;
    }

    .Support>form {

        width: 80%;
        display: flex;
        justify-content: center;
    }

    .Support>form>input {
        margin: 0% 6% 0% 0%;
        width: 50%;
        font-size: 13px;
    }

    .Support>form>button {
        width: 40%;
        font-size: 13px;
    }
}

@media (max-width:395px) {

    .left-nav {
        width: 100%;
    }

    .logo {
        margin-top: 1.45%;
        width: 68%;
    }

    .right-nav {
        width: 60%;
        padding: 0%;
    }

    .SignIn>a {
        font-size: small;
    }

    .footer-middle>div {
        width: 30%;

    }

    .footer-middle {

        margin: 0%;
        margin-bottom: 2%;
    }


    .fa>a {
        font-size: large;
    }

    .Support>form {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Support>form>input {
        margin: 0% 6% 0% 0%;
        width: 50%;
        font-size: 8px;
    }

    .Support>form>button {
        width: 40%;
        font-size: 8px;
    }

    h3 {
        font-weight: 600;
        font-size: 11px;
        padding: 0%;
        margin-bottom: 2px;
    }

    p {
        font-size: 10px;
    }

    .information h2 {
        text-align: center;
        font-size: large;
        margin-top: 100px;
    }

    .main {
        flex-direction: column;
    }

    .sidebar1 {
        width: 395px;
        height: 60px;
        margin: 0;
        padding: 0;
    }

    .recursion>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .recursion>h2 {
        display: none;
    }

    .recursion>div>a {
        width: 40%;
        font-size: medium;
    }

    .sidebar2 {
        position: relative;
    }


    #nQueenContent>header>h1 {
        font-size: large;
    }

    #n-queens-visualizer-section {
        overflow: scroll;
    }

    #chess-board>tbody>tr>td> {
        font-size: 2px;
        height: 20px !important;
        width: 20px !important;
    }
}