@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/* General body styles */
body {
    background-color: #0f0f0fef;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}



/* Navbar */
nav {
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    box-shadow: 0px 2px 3px #3ab1ad, -1px -2px 3px #3ab1ad;
    z-index: 1;
}

.left-nav {
    margin: 0;
    padding: 0% 2% 0% 2%;
    width: 15%;
}

.right-nav {
    margin: 0;
    width: 15%;
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    padding-top: 2%;
    width: 100%;
}

.SignIn {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.SignIn>a {
    color: black;
    background-color: #00FFFF;
    text-decoration: none;
    margin-top: 5%;
    padding: 10%;
    border-radius: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: medium;
}

.SignIn>a:hover {
    color: #00FFFF;
    background-color: #000000;
    border: 2px solid #00FFFF;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.github>img {
    width: 50px;
}

/* Footer */
footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    box-shadow: 0px 2px 3px #3ab1ad, -1px -2px 3px #3ab1ad;
    z-index: 1;
}

h3 {
    margin: 3px;
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    font-size: medium;
    text-align: center;
}

p {
    margin: 1px;
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    font-size: small;
    text-align: center;
}

.Language>p {
    margin: 5px 0px 0px 0px;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    font-weight: 800;
    font-stretch: extra-expanded;
}

.icon {
    margin: 0% 40% 0% 40%;
    display: flex;
    justify-content: space-evenly;
}

.icon>img {
    width: 8%;
    padding: 3px;
}

.footer-middle {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-middle>div {
    width: 20%;
}

.fa {
    width: 100%;
    display: flex !important;
    justify-content: center;
    gap: 5%;
}

.fa>a {
    color: #00FFFF;
    font-size: 120%;
    text-decoration: none;
}

.Support {
    display: flex;
    flex-direction: column;
}

.Support>form>input {
    width: 60%;
    border-radius: 5px;
}

.Support>form>button {
    font-size: 80%;
    width: 30%;
    background-color: #00FFFF;
    color: black;
    border-radius: 5px;
}

.Support>form>button:hover {
    color: #00FFFF;
    background-color: #000000;
    border: 2px solid #00FFFF;
}


.bar {
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
    border: 2px solid #000000;
}

.anchr {
    display: flex;
    gap: 40px;
    width: 100%;
    background-color: #00FFFF;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: center;
}

.anchr a label {
    color: #000000;
    font-family: 'Inconsolata', monospace;
    font-size: medium;
    font-weight: bold;

}

#algo {
    margin-top: 4px;
    color: #00FFFF;
    background-color: #000000;
    padding: 2px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
    border: 1.5px solid black;
    font-family: 'Inconsolata', monospace;
}

.container {
    display: relative;
    margin: 0 auto;
    text-align: center;
}

.res-container {
    margin-bottom: 30px;
    display: relative;
}

.data-container {
    margin-bottom: 50px;
}

#speed,
#size {
    display: flex;
    justify-content: center;
}

.number-input {
    width: 40%;
    height: 20px;
    padding: 5px 10px;
    background-color: #000000;
    color: #00FFFF;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px 50px;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}


.btn-success {
    background-color: #000000;
    color: #00FFFF;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: 'Inconsolata', monospace;
    border-radius: 8px;
}

.btn-hover:hover {
    scale: 1.05;
    background-color: #00FFFF;
    color: #000000;
}

.btn-danger {
    border-radius: 8px;
    background-color: #000000;
    font-weight: 600;
    /* background-color: #ff4d00; */
    border: none;
    color: #00FFFF;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;

}

.btn-lg {
    font-size: large;
    padding: 0.5rem 1.5rem;
}

.ml-5 {
    margin-left: 1rem;
}

.mr-5 {
    margin-right: 1rem;
}

.row {
    margin-left: 5rem;
    max-width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 8%;
    padding: 0 10px;
}

.index {
    display: block;
    background-color: #5bc8ac;
    padding: 2px 0px;
    margin-top: 10px;
    color: #003b46;
    border-radius: 100px;
}

.card {
    box-shadow: 0 4px 4px 0 rgba(27, 26, 26, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #00000020;
    color: #fff;
    border-radius: 15%;
    max-width: 50px;
    margin-top: 20px;
    margin-right: 5px;
    transition: 0.2s all ease;
    font-family: 'Inconsolata', monospace;
}

#searchKey {
    border: 2px solid #00FFFF;
}

.result {
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: large;
    font-stretch: extra-expanded;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 25%;
        display: block;
        margin-bottom: 20px;
    }

    .row {
        margin: 0 auto;
        align-items: center;
    }
}





/* Media Queries */
@media (max-width: 1200px) {
    .logo {
        width: 140%;
    }
}

@media (max-width: 1150px) {

    .left-nav {
        width: 60%;
    }

    .right-nav {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        width: 50%;
    }

    .SignIn>a {
        font-size: medium;
    }
}

@media (max-width: 760px) {
    .left-nav {
        width: 60%;
    }

    .right-nav {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .logo {
        width: 50%;
    }

    .SignIn>a {
        font-size: medium;
    }

    h3 {
        font-size: 16px;
        font-weight: 800;
    }

    p {
        font-size: 13px;
    }

    .fa {
        gap: 5%;
    }

    .fa>a {
        font-size: xx-larger;
    }

    form {
        display: flex;
        flex-direction: row;
    }


    .footer-middle {
        height: 35px;
    }

    .fa>a {
        font-size: large;
    }

    .footer-middle>div {
        width: 30%;

    }

    .footer-middle {

        margin: 0%;
        margin-bottom: 2%;
    }

    .Support>form {

        width: 80%;
        display: flex;
        justify-content: center;
    }

    .Support>form>input {
        margin: 0% 6% 0% 0%;
        width: 50%;
        font-size: 13px;
    }

    .Support>form>button {
        width: 40%;
        font-size: 13px;
    }
}

@media (max-width:395px) {



    .bar {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 45px;
    }

    .anchr>a>input {
        width: 80px;
    }

    .anchr>a>label {
        font-size: 17px;
    }

    .anchr {
        gap: 30px;
    }



    #reset,
    #search {
        font-size: small;
    }

    .row {
        padding-left: 50px;
    }

    .left-nav {
        width: 100%;
    }

    .logo {
        margin-top: 1.45%;
        width: 68%;
    }

    .right-nav {
        width: 60%;
        padding: 0%;
    }

    .SignIn>a {
        font-size: small;
    }

    .defination {
        font-size: 12px;
        padding: 0;
        margin: 0;
        margin-top: 40px;

    }

    #myCanvas {
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .footer-middle>div {
        width: 30%;
    }

    .footer-middle {

        margin: 0%;
        margin-bottom: 2%;
    }


    .fa>a {
        font-size: large;
    }

    .Support>form {

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Support>form>input {
        margin: 0% 6% 0% 0%;
        width: 50%;
        font-size: 8px;
    }

    .Support>form>button {
        width: 40%;
        font-size: 8px;
    }

    h3 {
        font-weight: 600;
        font-size: 11px;
        padding: 0%;
        margin-bottom: 2px;
    }

    p {
        font-size: 10px;
    }

}